@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="pagetitle">
        <h1>بازیابی اطلاعات</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">بازیابی رمز ورود</h5>
                        <p>بازیابی رمز ورود از طریق ایمیل شما انجام می‌شود.</p>
                        <p>پس از تائید فرم مرتبط ایمیلی حاوی نام کاریری فعلی و رمز عبور شما برای شما ارسال می‌شود.</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">تائید ارسال ایمیل</h5>
                        <p>ایمیل شما "@ViewBag.user.Memail" است. درصورت اطمینان از صحت ایمیل خود دکمه "بازیابی رمز ورود" را بفشارید.</p>
                        <p>در صورت نیاز به تغییر ایمیل <a href="/Admin/ProfilePage"> اینجا کلیک </a>کنید. و به قسمت ویرایش پروفایل بروید. </p>
                        <div class="text-center">
                            <a href="#" id="sendemail" class="btn btn-outline-secondary">بازیابی رمز ورود</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#sendemail").on('click', function (e) {
                e.preventDefault();
                let btn = $("#sendemail");
                btn.prop('disabled', true).text("...لطفا کمی صبر کنید");
                $.ajax({
                    url: "/Admin/SendEmail",
                    type: 'GET',
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: "success",
                                title: "ایمیل ارسال شد!",
                                text: response.message,
                                confirmButtonText: "باشه"
                            });
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "ایمیل ارسال نشد!",
                                text: response.message,
                                confirmButtonText: "باشه"
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: "error",
                            title: "خطا از سمت سرور!",
                            text: "ارسال ناموفق بود لطفا لحظاتی دیگر تلاش کنید",
                            confirmButtonText: "باشه"
                        });
                    },
                    complete: function () {
                        btn.prop("disabled", false).text("ارسال دوباره");
                    }
                });
            })
        });
    </script>
    
    }