
@{
    Layout = null;
}
<div class="row text-center pb-5">
    <div class="col-md-9 mx-md-auto">
        <div class="overflow-hidden mb-3">
            <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation editable" id="text-27" data-appear-animation="maskUp">
                @ViewBag.aboutTitle
            </h1>
        </div>
        <div class="overflow-hidden mb-3">
            <p class="lead mb-0 appear-animation editable" id="text-28" data-appear-animation="maskUp" data-appear-animation-delay="200">
                @ViewBag.aboutParag
            </p>
        </div>
    </div>
</div>
